@{
    ViewBag.Title = "Contact";
}

@using WebApplicationProject.Models

@model WebsiteDesc

<h2>@ViewBag.Title.</h2>
<div class="container">
    <div class="col-sm-12">
        <h3>@Model.Title</h3>
        <p>@Model.Description</p>

        
    </div>
</div>

